@import "tailwindcss";

@theme {
  --color-primary: #4E2FD2;
  --color-primary-hover: #3F25AC;
  --color-accent: #0046C7;
  --color-danger: #D8392B;
  --color-ink: #0B0D10;
  --color-muted: #6F7882;
  --color-review: #EDF4FF;
  --color-line: #E4E7EC;
  --color-success: #1E9E6B;
}

body {
  -webkit-font-smoothing: antialiased;
}
